<% if current_user%>
  <%= render partial: "/shared/navbarUser" %>

<% elsif current_teacher %>
  <%= render partial: "/shared/navbarTeacher" %>

  <div class="jumbotron">
    <div class="container">
        <h1>All available classes</h1>
    </div>
  </div>
  <% @course.each do |course| %>
    <ul>
      <div class="container">
        <div class="well">
          <p>Category: <%= course.category %></p>
          <p>Type: <%= course.course_type %></p>
          <p>Started_at: <%= course.started_at%></p>
          <p>Ended_at: <%= course.ended_at%></p>
          <p>German time: <%= course.german_time%></p>
          <p>Days: <%= course.days%></p>
          <%= link_to 'Show', course_path(course), class: "btn btn-default"%>
          <% if course.teacher_id == current_teacher.id %>
            <%= link_to 'Edit', edit_course_path(course), class: "btn btn-default"%>
            <%= link_to 'Destroy', course_path(course), class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' }%>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
<% else %>
#######################404 page #############
<% end %>
