<% if current_user %>
  <%= render partial: "/shared/navbarUser"%>
  <div class="jumbotron">
    <div class="container">
        <h1>수업 게시판</h1>
        <p><%= link_to '글쓰기', new_post_path %></p>
    </div>
  </div>
  <div class="container">
    <% @posts.reverse_each do |post| %>
      <div class="well">
        <p>제목: <%=post.title%></p>
        <p>내용: <%=post.content.html_safe%></p>
        <% if current_user.id == post.user_id %>
        <%= link_to '수정', edit_post_path(post) %> | <%= link_to '삭제', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% elsif current_teacher %>
  <div class="jumbotron">
    <div class="container">
        <h1>Class Q&A</h1>
        <p><%= link_to 'New', new_post_path %></p>
    </div>
  </div>
  <div class="container">
    <% @posts.each do |post| %>
      <div class="well">
        <p>Title: <%=post.title%></p>
        <p>Content: <%=post.content%></p>
        <% if current_teacher.id == post.teacher_id %>
        <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
############################# 404 page ###########
<% end %>
