<%= form_for(resource, as: resource_name, url: user_registration_path, :html => {:id => 'signup_form'}, :remote => true, :format => :json, class: "popup-form") do |f| %>

  <%= devise_error_messages! %>

  <div class="field"> 
    <br>
    <%= f.text_field :firstname, class: "form-control form-white", placeholder: "Your first name", autofocus: true %>
  </div>
  <div class="field">
    <br>
    <%= f.text_field :lastname, class: "form-control form-white", placeholder: "Your last name", autofocus: true %>
  </div>
  <div class="field">
    <br>
    <%= f.email_field :email, class: "form-control form-white", placeholder: "Email Address", autofocus: true %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br>
    <%= f.password_field :password, class: "form-control form-white", placeholder: "Password", autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <br>
    <%= f.password_field :password_confirmation, class: "form-control form-white", placeholder: "Password Again!", autofocus: true, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-submit" %>
  </div>
<% end %>

  <div class="error_feedback">
  </div>


<!--
  <div class="checkbox-holder text-left">
    <div class="checkbox">
      <input type="checkbox" value="None" id="squaredOne" name="check" />
      <label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
    </div>
  </div>
-->
